# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- OS Metadata ---
Thumbs.db
Desktop.ini
.DS_Store

# --- Project Outputs ---
output/
downloads/
uploads/
cookies.txt

# --- AI Models ---
*.pt
*.onnx
*.tflite
# models/

# --- Video/Audio Files (Root) ---
*.mp4
*.avi
*.mov
*.mkv
*.mp3
*.wav
*.aac
!.gitkeep
*.srt
*.vtt

# --- Logs & Temp ---
*.log
temp_*
yolov8n.pt
